<table>
  <thead>
  <tr>
    <th data-field="contributions">Recent Commit Count</th>
    <th data-field="contributions">Longest Commit Streak</th>
    <th data-field="contributions">Current Commit Streak</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @contributions.commits %></td>
      <td><%= @contributions.longest_streak %></td>
      <td><%= @contributions.current_streak %></td>
    </tr>
  </tbody>
</table>