<table>
  <thead>
  <caption><h4>My Recent Commit Counts</h4></caption>
  <tr>
    <th>Recent Commit Count</th>
    <th>Longest Commit Streak</th>
    <th>Current Commit Streak</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @contributions.commits %></td>
      <td><%= @contributions.longest_streak %></td>
      <td><%= @contributions.current_streak %></td>
    </tr>
  </tbody>
</table>