<table>
  <thead>
  <caption><h4>My Organizations</h4></caption>
  <tr>
    <th>Organization Name</th>
  </tr>
  </thead>
  <tbody>
  <% @github_service.orgs.each do |org| %>
    <tr>
      <td><%= org[:login] %></td>
    </tr>
  <% end %>
  </tbody>
</table>